<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
  
  </style></head>
  <body>
    <h1>Dashboard</h1>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
    <button type="button" class="btn btn-dark py-2"><a href="{% url 'datesvssessions' %}"><span style="color:white">DateVsSessions</span></a></button>
    <button type="button" class="btn btn-dark py-2"><a href="{% url 'usertypeformview' %}"><span style="color:white">UserTypeStatistics</span></a></button>
    
    
  
</html>
